#body {
  background-image: url("https://wallpaper-house.com/data/out/8/wallpaper2you_245219.jpg");
  width: 100%;
  height:100vh;
}

img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}


#fourcrest {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: [-50% of your image's width];
  margin-top: [-50% of your image's height];
}

#Slytherin {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: [-50% of your image's width];
  margin-top: [-50% of your image's height];
  }

#Gryffindor {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: [-50% of your image's width];
  margin-top: [-50% of your image's height];
}

#Ravenclaw {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: [-50% of your image's width];
  margin-top: [-50% of your image's height];
}

#Hufflepuff{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: [-50% of your image's width];
  margin-top: [-50% of your image's height];
}

.text-color-white {
  color: white;
}
