a:link {
   text-decoration: none;
   color: white;
   background-color: transparent;
}
a:visited {
   text-decoration: none;
   color: white;
   background-color: transparent;
}


#body {
  background-image: url("https://wallpaper-house.com/data/out/8/wallpaper2you_245219.jpg");

  width: 100%;
  height:200vh;


}

img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}


#fourcrest {
  display: none;

}

#Slytherin {
  float: right;
}

#Gryffindor {
  float:left;
}

#Ravenclaw {

  float: left;
}

#Hufflepuff{
float:right;
}

.text-color-white {
  color: white;
}
