h1 {
  color: white;
}

#body {
  background-image: url("https://wallpaper-house.com/data/out/8/wallpaper2you_245219.jpg");
  width: 100%;
  height:100vh;


}

img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}


#fourcrest {
  display: none;

}

#Gryffindor {
  float: left;
}

#Ravenclaw {
  float: left;
}

#Hufflepuff{
float: left;
}

#Slytherin {
  float: left;
}

.text-color-white {
  color: white;
}
